@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido @ViewData["nombreUsuario"]</h1>
    <p>Aca se podria poner informacion y demas para el proyecto pero se los dejo a su criterio</p>
</div>
