@model ProyectoWeb.Models.TiposMedidores

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TiposMedidores</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TipoMedidor" class="control-label"></label>
                <input asp-for="TipoMedidor" class="form-control" />
                <span asp-validation-for="TipoMedidor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoTipoMedidor" class="control-label"></label>
                <select asp-for="EstadoTipoMedidor" class="form-control">
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                </select>
                <span asp-validation-for="EstadoTipoMedidor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
