@model ProyectoWeb.Models.Detalles

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Detalles</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdEncabezado" class="control-label"></label>
                <select asp-for="IdEncabezado" class="form-control" asp-items="ViewBag.IdEncabezado"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdLectura" class="control-label"></label>
                <select asp-for="IdLectura" class="form-control" asp-items="ViewBag.IdLectura"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdTarifa" class="control-label"></label>
                <select asp-for="IdTarifa" class="form-control" asp-items="ViewBag.IdTarifa"></select>
            </div>
            <div class="form-group">
                <label asp-for="Consumo" class="control-label"></label>
                <input asp-for="Consumo" class="form-control" />
                <span asp-validation-for="Consumo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subtotal" class="control-label"></label>
                <input asp-for="Subtotal" class="form-control" />
                <span asp-validation-for="Subtotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacturasPendientes" class="control-label"></label>
                <input asp-for="FacturasPendientes" class="form-control" />
                <span asp-validation-for="FacturasPendientes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoDetalle" class="control-label"></label>
                <select asp-for="EstadoDetalle" class="form-control">
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                </select>
                <span asp-validation-for="EstadoDetalle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
